<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BETNET</title>
    <link href="/css/index.css" rel="stylesheet">
    <style>
        .seat {
         width: 50px;
         height: 50px;
         margin: 5px;
         font-size: 16px;
         border-radius: 5px; /* 모서리를 둥글게 */
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
         }


        .unavailable {
            border: 2px solid red; /* 예약된 좌석에 빨간색 굵은 테두리 */
        }
    </style>
</head>
<body>
<div th:replace="~{/header.html:: header}"></div>
<div class="wrap">
    <div class="indexMain">
        <div class="leftBox">
            <h1>버스 좌석 예매</h1>
            <div id="seats">
                <!-- 좌석 리스트를 div로 감싸서 표시 -->

            </div>
        </div>
        <div class="purchaseBox">
            <div>버스 예약</div>
            <table class="table">
                <tbody class="purchaseCartBox">
                </tbody>
            </table>
            <div class="bottomCartInfo">
                <table class="table table2">
                    <thead class="purchaseInfoBox">

                    </thead>
                </table>
                <div>
                    <p>4좌석까지 예매 가능합니다.</p>
                </div>
                <div>
                    <button type="button" onclick="busPurchase()">예약하기</button>
                </div>
            </div>
        </div> <!-- 오른쪽 -->
    </div>

    <button type="button" class="btn btn-primary" id="liveToastBtn" style="display: none;">Show live toast</button>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                최신 좌석 상태가 변경되었습니다.
            </div>
        </div>
    </div>
</div>



<div th:replace="~{/footer.html:: footer}"></div>
<script src="/js/bus/bus.js"></script>

</body>
</html>