<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml 주석 -->
<mapper namespace="web.model.dao.PointDao" >  <!-- mapper start -->
    <!-- namespace=" 매핑할 인터페이스 경로(위치) " -->
    <!-- id="매핑할 추상메소드명"  resultType="반환할 타입"  -->
    <!-- parameterType="매개변수타입" sql 매개변수표현 : #{변수명}-->

    <!-- 잔액 포인트 출력 -->
    <select id="getMyPoint" parameterType="int" resultType="web.model.dto.PointLogDto">
        select sum(pointChange) as sum from pointlogs where memberid = #{memberid};
    </select>

    <!-- 포인트 로그 저장 -->
    <insert id="insertPointLog" parameterType="web.model.dto.PointLogDto">
        insert into pointlogs(memberid , pointChange , description) values(#{memberid} , #{pointChange} , #{description})
    </insert>

    <!-- 포인트내역 출력 -->
    <select id="mypointlog" parameterType="web.model.dto.SearchDto" resultType="web.model.dto.PointLogDto">
        select * from pointlogs where memberid = #{memberid}
        <if test="description != 0">and description = #{description}</if>
        <if test="startDate != ''">
            AND logDate BETWEEN #{startDate} AND DATE_ADD(#{endDate}, INTERVAL 1 DAY) - INTERVAL 1 SECOND
        </if> <!-- endDate의 다음 날의 시작 시점(00:00:00)에서 1초를 빼서 endDate의 마지막 순간(23:59:59)을 포함하도록 설정 -->
        <if test="startPoint != 0">and pointChange between #{startPoint} and #{endPoint}</if>
    </select>
    <!-- 비밀번호 체크 -->
    <select id="myPassword" parameterType="web.model.dto.PointLogDto">
        select * from members where memberid = #{memberid} and password = #{password}
    </select>

    <insert id="loginPoint" parameterType="web.model.dto.PointLogDto">
        insert into PointLogs (memberid, pointChange, description) values (#{memberid}, 10, 5);
    </insert>






</mapper> <!-- mapper end -->

