<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/member/login.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{/header.html:: header}"></div>
    <div class="wrap">
        <div class="loginArea">
            <form class="form"> 
                <h3> 로그인 </h3>
                <input id="id" placeholder="아이디"><br>
                <input id="pw" type="password" placeholder="비밀번호"><br>
                <button type="button" onclick="doLogIn()">로그인</button>
            </form>
        </div>
    </div>

<script src="/js/member/login.js"></script>
<div th:replace="~{/footer.html:: footer}"></div>
</body>
</html>