<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>뉴스기사</title>
    <link href="/css/article/article.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/header.html:: header}"></div>
    <div class="articleBox">
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">KIA</div>
                    <img src="https://tigers.co.kr/img/sub/emblem01_01.png"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="kiaKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="kiaNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">삼성</div>
                    <img src="https://upload.wikimedia.org/wikipedia/ko/e/ee/%EC%82%BC%EC%84%B1_%EB%9D%BC%EC%9D%B4%EC%98%A8%EC%A6%88_%EB%A1%9C%EA%B3%A0.png"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="samKeywordBox keywords">

                    </div>                
                </div>
            </div>
            
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="samNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">LG</div>
                    <img src="https://upload.wikimedia.org/wikipedia/ko/8/8a/LG_%ED%8A%B8%EC%9C%88%EC%8A%A4_%EB%A1%9C%EA%B3%A0.png"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="lgKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="lgNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">두산베어스</div>
                    <img src="https://upload.wikimedia.org/wikipedia/ko/0/05/%EB%91%90%EC%82%B0_%EB%B2%A0%EC%96%B4%EC%8A%A4_%EB%A1%9C%EA%B3%A0.png"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="duKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody  class="duNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">KT</div>
                    <img src="https://upload.wikimedia.org/wikipedia/ko/7/7b/Kt_%EC%9C%84%EC%A6%88_%EB%A1%9C%EA%B3%A0.png"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="ktKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="ktNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">한화 이글스</div>
                    <img src="https://i.namu.wiki/i/mlh33164jnUot3lB-keosWy6bQ2vZSI2xXguIyvh_TO5bJnifYsAKeoLvC2VUPGVAeAbcygYP-ak3AQSryV2aFgb4H8nvxE0sMGhE71YVbkP9VffqsihMfpFliJsr2WihFWguRPbsFJkLW0pTDEynw.svg"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="hanKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="hanNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">SSG</div>
                    <img src="https://i.namu.wiki/i/vjpuTXpyrwVXP4keQVivHUl9mJX0zZXIxMkFgMhZINZHVtXE8EHo1kfpR8oa5hgo6CmRIAn4njCXKGtiNIR4vNonDOPgBEkdosWMabZBd3WLI3T3E3Pt_4gSNbRw-NZpLYJHb9OJMkal4PT3z1O0_g.svg"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="ssgKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">   
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="ssgNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">롯데</div>
                    <img src="https://upload.wikimedia.org/wikipedia/ko/0/0c/%EB%A1%AF%EB%8D%B0_%EC%9E%90%EC%9D%B4%EC%96%B8%EC%B8%A0_%EB%A1%9C%EA%B3%A0%282023~%29.png?20240731151823"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="lotKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox"> 
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="lotNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">NC</div>
                    <img src="https://www.ncdinos.com/assets/images/sub/emblem01.png"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="ncKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="ncNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="topBox">
                <div class="team">
                    <div class="title">키움</div>
                    <img src="https://i.namu.wiki/i/8OIBhZIuoLOBU-jAkbyFWqsCZXga6FDLXSDcCxW65u17b-oJyobnxj11-jpcGyjw0d3LqmDx1xZhILUPigeAvO8oHl1iG6VES2FnyO_wyra0S7SNyfKONh03h-piv1Y-HCwLNnvbnVOYW4mlmB5NcQ.svg"/>
                </div>
                <div class="keywordsBox">
                    <div class="title">키워드</div>
                    <div class="kiKeywordBox keywords">

                    </div>
                </div>
            </div>
            <div class="newsBox">
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody class="kiNewsBox">
                            <tr>
                                <td>기사 제목 1</td>
                                <td>2024년 09월 30일</td>
                            </tr>
                            <tr>
                                <td>기사 제목 2</td>
                                <td>2024년 09월 29일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div th:replace="~{/footer.html:: footer}"></div>

<script src="/js/article/article.js"></script>
</body>
</html>