<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포인트</title>
    <link href="/css/point/point.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/header.html:: header}"></div>
    <div class="wrap">
        <div class="wrap2">
            <div class="info">
                홈 > 마이페이지 > 포인트
            </div>
            <h3> 포인트 </h3>
            <div class="pointInfo">
                <div class="myPointInfo">
                    <p> My Point </p>
                    <div>
                        <img src="/img/mypage_point_30x30.png" />
                    </div>
                    <div class="myPointBox"> </div>
                    <div>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" > 포인트 출금 </button>
                    </div>
                </div>
                <div class="addPointInfo">
                    <p class="addP"> 충전할금액 </p>
                    <input type="text" class="pointChange"/>
                    <button type="button" class="payment" onclick="payment()"> 포인트 충전 </button>
                </div>
            </div>
            <div class="searchBox">
                <table class="searchTable table">
                    <colgroup>
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="35%">
                    </colgroup>
                    <tbody> 
                        <tr> 
                            <th> 거래일자 </th> 
                            <td colspan="5"> 
                                <div class="dateBox">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="changeDate(0)"> 오늘 </button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="changeDate(3)"> 3일 </button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="changeDate(7)"> 1주일 </button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="changeDate(30)"> 1개월 </button>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="changeDate(90)"> 3개월 </button>         
                                    <input type="date" class="startDate"/>
                                    <input type="date" class="endDate"/>
                                </div>
                            </td>
                        </tr>
                        <tr> 
                            <th> 구분 </th> 
                                <td> 
                                    <select class="descriptionBox"> 
                                        <option value="0"> 전체 </option>
                                        <option value="1"> 포인트충전 </option>
                                        <option value="2"> 배당금지급 </option>
                                        <option value="3"> 게임구매 </option>
                                        <option value="4"> 포인트출금 </option>
                                    </select> 
                                </td> 
                            <th> 포인트금액 </th> 
                                <td colspan="3"> 
                                    <input type="number" placeholder="100" class="startPoint"/>원 ~ <input type="number" placeholder="5000" class="endPoint">원
                                </td> 
                        </tr>
                    </tbody>
                </table>
                <div class="btnBox">
                    <button class="btn btn-primary" type="button" onclick="onSearch()"> 검색 </button>                        
                </div>
            </div> <!-- searchBox end -->
            <div>  <!-- 포인트 내역 출력 -->
                <table class="table">
                    <thead>
                        <tr>
                            <th> 거래일시 </th> <th> 내역 </th> <th> 포인트 </th>
                        </tr>
                    </thead>
                    <tbody class="pointLogBox">

                    </tbody>
                </table>
            </div> <!-- 포인트 내역 출력 end -->

            <!-- 포인트 출금 Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">|포인트 출금</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="form">
                                <div>
                                    <p> 출금할 포인트 금액 </p>
                                    <input type="text" class="withdrawPoint"/>
                                </div>
                                <div>
                                    <p> 내 계좌 정보 </p>
                                    <div class="myAccountBox"> </div>
                                </div>
                                <div>
                                    <p> 비밀번호 </p>
                                    <input type="password" class="passwordCheck" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="withdraw()">출금하기</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Modal end -->
        </div>  <!-- wrap2 end -->
    </div>
    <div th:replace="~{/footer.html:: footer}"></div>
    <!-- iamport.payment.js -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="/js/point/point.js"></script>

</body>
</html>