.articleBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 개의 열 생성 */
    gap: 20px; /* 그리드 간격 */
    margin: 0 auto;
    max-width: 1080px; /* 최대 너비 설정 */
    margin-bottom: 20px;
}
.news-item {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.news-item  h3 {
    margin: 0 0 15px 0;
}
.news-item  table {
    width: 100%;
    border-collapse: collapse;
}
.news-item  th, td {
    padding: 10px;
    text-align: left; /* 셀의 텍스트 왼쪽 정렬 */
    border: 1px solid #ccc;
}
.news-item  th {
    background-color: #f8f8f8;
}
.news-item img{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
}
.team{
    display: flex;
    align-items: center;
    text-align: center;
}
.newsBox{
    display: flex; align-items: flex-start;
    justify-content: space-around;
}
.keywordsBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}
.tableBox{
    width: 100%;
}
.tableBox a{
    color: black;
}
.topBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.keywords{
    display: flex;
    justify-content: space-around;
    margin: 0px 5px;
}
.keywords > div{
    margin-right: 5px;
}
.title{
    font-size: 22px;
    margin-right: 10px;
}