<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>거래글 작성</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/market/marketadd.css" rel="stylesheet">
    <!-- Summernote CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" rel="stylesheet">
    <style>
        #imagePreview img {
            width: 100px;
            margin: 5px;
        }
        .note-editor .note-editable {
            text-align: left; /* 기본 정렬을 왼쪽으로 설정 */
        }
    </style>
</head>
<body>
    <div th:replace="~{/header.html:: header}"></div>
    <div class="wrap">
        <div class="main">
            <!-- 게시글 입력 -->
            <h3>게시글 작성</h3>
            <form id="marketWriteForm" class="form-control my-3">
                <!-- 제목 입력 칸 -->
                <div>
                    <label for="title">제목</label>
                    <input type="text" name="mktitle" class="form-control" id="mktitle" placeholder="제목을 입력하세요." required>
                </div>
                <!-- Summernote -->
                <div class="form-group">
                    <label for="summernote">내용</label>
                    <textarea name="mkcontent" id="summernote"></textarea>
                </div>
                <!-- 이미지 파일 선택 -->
                <div class="form-group">
                    <label for="uploadfiles">굿즈 사진을 1 ~ 3장까지 올려주세요.</label>
                    <input type="file" class="form-control" id="uploadfiles" multiple accept="image/*" required>
                    <div id="imagePreview" class="mt-2"></div> <!-- 미리보기 영역 -->
                </div>
                <!-- 제출 버튼 -->
                <button type="button" id="submit" class="btn btn-primary" onclick="mkWrite()">게시글 쓰기</button>
                <button type="button" class="btn btn-primary" onclick="goBack()">돌아가기</button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js" ></script>
    <script src="/js/market/marketadd.js"></script>
    <div th:replace="~{/footer.html:: footer}"></div>
    
    
</body>
</html>