.wrap2{
    width: 1080px;
    border: 1px solid #eeeeee;
    padding: 10px;
    margin-bottom: 20px;
}
.pointInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    justify-content: left;
}
.myPointInfo , .addPointInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myPointInfo > P , .myPointInfo img , .myPointBox{
    font-size: 16px;
    margin: 20px;
}
.addP , .addPointInfo input , .addPointInfo button{
    font-size: 16px;
    margin: 10px;
}
.searchBox{
    margin-top: 20px;
}
.modal-body{
    display: flex;
    justify-content: space-around;
}
.form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
 .resultBox {
            border: 1px solid #ccc;
            padding: 15px;
            margin-top: 20px;
        }

        /* Style individual result items */
        .resultItem {
            margin-bottom: 10px;
            font-size: 18px; /* Increase font size */
            font-weight: bold; /* Make it bold */
        }

        .resultItem span {
            display: inline-block;
            width: 100px; /* Set width for better alignment */
        }